@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./toastify.css";

.recharts-surface, .recharts-surface * {
  overflow: visible;
  outline: none !important;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
  margin-bottom: 5.75rem !important;
}

input[type=range] {
  -webkit-appearance: none;
  /*margin: 18px 0;*/
  /*width: 100%;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /*background: #3071a9;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 2px;
  background: #ffd053;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #367ebd;*/
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /*background: #3071a9;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #545454;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #545454;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #545454;
}
input[type=range]:focus::-ms-fill-upper {
  background: #545454;
}

.btn {
  @apply inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-mapbox-black bg-ocf-yellow hover:bg-ocf-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ocf-delta-500;
}

.map-ui-btn:not(:last-of-type) {
  border-right: 1px solid #545454;
}

.pv-map a.mapboxgl-ctrl-logo, .delta-map a.mapboxgl-ctrl-logo {
  margin-left: 0.5rem;
}

.pv-map .mapboxgl-popup-content, .delta-map .mapboxgl-popup-content {
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}

.pv-map .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip, .delta-map .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgba(0,0,0,0.5);
}

.mapboxgl-canvas {
  outline: none;
}

.up-arrow, .down-arrow {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-color: transparent;
  margin-bottom: 1px;
}

.up-arrow {
  border-width: 0 0.4rem 0.7rem;
  border-bottom-color: theme('colors.ocf-delta.900');
}

.down-arrow {
  border-width: 0.7rem 0.4rem 0;
  border-top-color: theme('colors.ocf-delta.100');
}

.chart-data-loading-message:hover .chart-data-loading-endpoints {
  display: block;
}

.fade-out {
  opacity: 1;
  animation: fade-out 2s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toggle {
  @apply inline-flex items-center relative w-4 h-2 rounded-full bg-ocf-yellow
  border border-ocf-yellow/0 transition-all duration-100 ease-in-out delay-0 cursor-pointer
  bg-opacity-25 checked:bg-opacity-100 after:-ml-0.5 checked:after:ml-0 checked:after:-mr-1
  checked:bg-none checked:text-ocf-yellow
  focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-offset-transparent focus:ring-transparent
  after:will-change-transform after:transition-all after:duration-200 after:ease-in-out after:inline-flex
  after:content-[''] after:bg-white after:border-ocf-gray-300 after:border after:rounded-full after:h-2 after:w-2
  checked:after:translate-x-full checked:after:border-white;
}

.custom-select {
  /*min-width: 350px;*/
  position: relative;
}

.custom-select select {
  appearance: none;
  width: 100%;
  height: 100%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  background: transparent;
  border: 1px solid #FF9736;
  border-radius: 0.25rem;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.25rem;
  position: absolute;
  content: "";
  right: 0.5rem;
  pointer-events: none;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
  top: calc(50% - var(--size) / 2);
}

.sometimes-bold::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/**************/
/* SCROLLBARS */
/**************/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.mapbox-black.700) theme(colors.mapbox-black.600);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: theme(colors.mapbox-black.600);
}

*::-webkit-scrollbar-thumb {
  background-color: theme(colors.mapbox-black.700);
  border-radius: 20px;
  border: 3px solid theme(colors.mapbox-black.600);
}
