@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./toastify.css";

.recharts-surface {
  overflow: visible;
}

.btn {
  @apply inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-mapbox-black bg-ocf-yellow hover:bg-ocf-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ocf-delta-500;
}

.delta-map .mapboxgl-popup-content {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 1rem;
}

.delta-map .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgba(0,0,0,0.5);
}

.up-arrow, .down-arrow {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-color: transparent;
  margin-bottom: 1px;
}

.up-arrow {
  border-width: 0 0.4rem 0.7rem;
  border-bottom-color: theme('colors.ocf-delta.900');
}

.down-arrow {
  border-width: 0.7rem 0.4rem 0;
  border-top-color: theme('colors.ocf-delta.100');
}

.chart-data-loading-message:hover .chart-data-loading-endpoints {
  display: block;
}
