@import "react-toastify/dist/ReactToastify.css";
:root {
  --toastify-color-error: #b51800;
  --toastify-toast-min-height: 40px;
}
.Toastify__toast--error .Toastify__close-button {
  margin: auto;
  background-color: #800d02;
  color: white;
  padding: 4px;
}
.Toastify__toast--error .Toastify__toast-body {
  margin: 0;
  padding: 0;
  padding-left: 8px;
}
