name: Node CI

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x]
        containers: [2]

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: "yarn"
    - name: install yarn
      run: |
        cd apps/nowcasting-app
        yarn install
    - name: build app
      run: |
        cd apps/nowcasting-app
        yarn build
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        NODE_OPTIONS: --max_old_space_size=6144
    - name: run unit tests
      run: |
        cd apps/nowcasting-app
        yarn test --clear-cache --coverage --coverageDirectory=../..
    - name: Run cypress tests with Percy
      # Uses the official Cypress GitHub action https://github.com/cypress-io/github-action
      uses: cypress-io/github-action@v6
      with:
        wait-on: 'http://localhost:3002'
        wait-on-timeout: 120000
        working-directory: ./apps/nowcasting-app
        start: yarn start
        command: npx percy exec -- cypress run --browser chrome --record --parallel --group "E2E + Percy"
    - name: Upload Cypress artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: cypress-artifacts
        path: |
          apps/nowcasting-app/cypress/videos
          apps/nowcasting-app/cypress/screenshots
env:
  AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
  AUTH0_BASE_URL: ${{ secrets.AUTH0_BASE_URL }}
  AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
  AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
  AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
  AUTH0_ISSUER_BASE_URL: ${{ secrets.AUTH0_ISSUER_BASE_URL }}
  AUTH0_SCOPE: ${{ secrets.AUTH0_SCOPE }}
  AUTH0_SECRET: ${{ secrets.AUTH0_SECRET }}
  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
  CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
  PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.CYPRESS_GITHUB_TOKEN }}
  NEXT_PUBLIC_API_PREFIX: ${{ secrets.NEXT_PUBLIC_API_PREFIX }}
  NEXT_PUBLIC_SITES_API_PREFIX: ${{ secrets.NEXT_PUBLIC_SITES_API_PREFIX }}
  NEXT_PUBLIC_AUTH0_AUDIENCE: ${{ secrets.NEXT_PUBLIC_AUTH0_AUDIENCE }}
  NEXT_PUBLIC_AUTH0_API_AUDIENCE: ${{ secrets.NEXT_PUBLIC_AUTH0_API_AUDIENCE }}
  NEXT_PUBLIC_AUTH0_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_AUTH0_CLIENT_ID }}
  NEXT_PUBLIC_AUTH0_DOMAIN: ${{ secrets.NEXT_PUBLIC_AUTH0_DOMAIN }}
  NEXT_PUBLIC_AUTH0_PASSWORD: ${{ secrets.NEXT_PUBLIC_AUTH0_PASSWORD }}
  NEXT_PUBLIC_AUTH0_SCOPE: ${{ secrets.NEXT_PUBLIC_AUTH0_SCOPE }}
  NEXT_PUBLIC_AUTH0_USERNAME: ${{ secrets.NEXT_PUBLIC_AUTH0_USERNAME }}
  NEXT_PUBLIC_4H_VIEW: 'true'
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}


